In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import io

## Домашнее задание

С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

Например:
count_top5([1880]) == [‘John’, ‘William’, ‘Mary’]
count_top5([1900, 1950, 2000]) == [‘James’, ‘John’, ‘Robert’]

Дополнительное задание:
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

Например:
count_dynamics([1900, 1950, 2000]) == {’M’: [146391, 1675092, 1262262], ’F’: [279409, 1390888, 670434]}

In [6]:
# Загрузка всех файлов за все года
names_by_year = {}
for year in range(1880, 2016, 1):
    names_by_year[year] = pd.read_csv(
        'StatisticNamesUSA/yob{}.txt'.format(year),
        names=['Name','Gender','Count']
    )
names_all = pd.concat(names_by_year, names=['Year', 'Pos'])

In [7]:
names_all.head()

               Name Gender  Count
Year Pos
1880 0         Mary      F   7065
     1         Anna      F   2604
     2         Emma      F   2003
     3    Elizabeth      F   1939
     4       Minnie      F   1746

In [62]:
# Функция которая выводит ТОП-3 за указанные года (список years). Данные за все года в names_by_year.
def count_top(names_all, years, top):
    # years_only набор данных только за те года, которые есть в списке years
    years_only = pd.concat([data for year, data in names_by_year.items() if year in years])
    years_only = years_only.sort_values(by='Count', ascending=False)
    result = years_only.head(top)
    return [name for name in result.Name]

In [64]:
# Выводим ТОП-3 имен за 1880 год
count_top(names_by_year, [1880], 3)

['John', 'William', 'Mary']

In [67]:
# Выводим ТОП-3 имен за годы [1900, 1950, 2000]
count_top(names_by_year, [1900, 1950, 2000], 3)

['James', 'Robert', 'Linda']

#### Дополнительное задание

In [79]:
# Функция расчета динакими изменения количетсва имен (мужские и женские отдельно) за определенные года
def count_dynamics(years):
    result = {'F':[], 'M':[]}
    # years_only набор данных только за те года, которые есть в списке years
    for year in years:
        data = names_by_year[year]
        result['M'].append(data[data.Gender == 'M'].Count.sum())
        result['F'].append(data[data.Gender == 'F'].Count.sum())
    return result

In [80]:
# Вызываем функцию
count_dynamics([1900, 1950, 2000])

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}